{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.css' %}">
    <style>
        .c1{
            width:400px;
            border:1px solid black;
            margin:0 auto;
            padding:10px 20px;
            margin-top:50px;
            box-shadow:5px 5px 5px #aaa;
        }
        .c1 h1{
            text-align:center;
            margin-bottom:20px;
        }
    </style>
</head>
<body>
<div class="c1">
    <h1>Login</h1>
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label >Username</label>
            {{ form.name }}
            <span style="color: red">{{ form.name.errors.0 }}</span>
        </div>
        <div class="form-group" style="margin-bottom: 20px;">
            <label>Password</label>
            {{ form.password }}
            <span style="color: red; " >{{ form.password.errors.0 }}</span>
        </div>

        <button type="submit" class="btn btn-primary" style="margin-bottom: 30px;">Submit</button>
    </form>
</div>
</body>
</html>